/* line 6, slider.scss */
slider, [slider] {
  display: inline-block;
  position: relative;
  height: 2px;
  width: 100%;
  margin: 25px 5px 25px 5px;
  vertical-align: middle;
}
/* line 14, slider.scss */
slider div, [slider] div {
  white-space: nowrap;
  position: absolute;
}
/* line 18, slider.scss */
slider div.bar, [slider] div.bar {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
/* line 23, slider.scss */
slider div.bar .bar-content, [slider] div.bar .bar-content {
  background-color: #c8c8c8;
  width: calc(100% - 32px);
  margin-left: 16px;
  height: 100%;
}
/* line 29, slider.scss */
slider div.bar .bar-content.active, [slider] div.bar .bar-content.active {
  background-color: #3f51b5;
}
/* line 34, slider.scss */
slider div.bar .selection, [slider] div.bar .selection {
  width: 0%;
  height: 100%;
  background: #13b6ff;
}
/* line 41, slider.scss */
slider div.handle, [slider] div.handle {
  cursor: pointer;
  width: 32px;
  height: 32px;
  top: -15px;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* line 52, slider.scss */
slider div.handle .inner, [slider] div.handle .inner {
  height: 12px;
  width: 12px;
  border-radius: 100%;
  background-color: #3f51b5;
  position: initial;
  transition: height 0.18s ease, width 0.18s ease;
}
/* line 64, slider.scss */
slider div.handle.active .inner, [slider] div.handle.active .inner {
  height: 32px;
  width: 32px;
}
/* line 71, slider.scss */
slider div.bubble, [slider] div.bubble {
  display: none;
  cursor: default;
  top: -32px;
  padding: 1px 3px 1px 3px;
  font-size: 0.7em;
  font-family: sans-serif;
}
/* line 79, slider.scss */
slider div.bubble.active, [slider] div.bubble.active {
  display: inline-block;
}
/* line 83, slider.scss */
slider div.bubble.limit, [slider] div.bubble.limit {
  color: #777;
}
/* line 87, slider.scss */
slider div.bubble.value, [slider] div.bubble.value {
  z-index: 3;
}
