slider, [slider] {
  display: inline-block;
  position: relative;
  height: 18px;
  width: 100%;
  margin: 25px 5px 25px 5px;
  vertical-align: middle;
}
slider div, [slider] div {
  white-space: nowrap;
  position: absolute;
}
slider div.bar-container, [slider] div.bar-container {
  display: flex;
  justify-content: center;
  flex-flow: column;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
slider div.bar-container .bar, [slider] div.bar-container .bar {
  width: 100%;
  height: 2px;
  overflow: hidden;
}
slider div.bar-container .bar .bar-content, [slider] div.bar-container .bar .bar-content {
  background-color: #c8c8c8;
  width: calc(100% - 32px);
  margin-left: 16px;
  height: 100%;
}
slider div.bar-container .bar .bar-content.active, [slider] div.bar-container .bar .bar-content.active {
  background-color: #3f51b5;
}
slider div.bar-container .bar .bar-content.active.transiting, [slider] div.bar-container .bar .bar-content.active.transiting {
  transition: width 0.18s ease;
}
slider div.bar-container .bar .selection, [slider] div.bar-container .bar .selection {
  width: 0%;
  height: 100%;
  background: #13b6ff;
}
slider div.handle, [slider] div.handle {
  cursor: pointer;
  width: 32px;
  height: 32px;
  top: -6px;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}
slider div.handle.transiting, [slider] div.handle.transiting {
  transition: left 0.18s ease;
}
slider div.handle .inner, [slider] div.handle .inner {
  height: 12px;
  width: 12px;
  border-radius: 100%;
  background-color: #3f51b5;
  position: initial;
  transition: height 0.18s ease, width 0.18s ease;
}
slider div.handle.active .inner, [slider] div.handle.active .inner {
  height: 32px;
  width: 32px;
}
slider div.bubble, [slider] div.bubble {
  display: none;
  cursor: default;
  top: -32px;
  padding: 1px 3px 1px 3px;
  font-size: 0.7em;
  font-family: sans-serif;
}
slider div.bubble.active, [slider] div.bubble.active {
  display: inline-block;
}
slider div.bubble.limit, [slider] div.bubble.limit {
  color: #777;
}
slider div.bubble.value, [slider] div.bubble.value {
  z-index: 3;
}

